* {
    padding: 0%;
    margin: 0%;
    border: border-box;
}

:root {
    /* Amazon Primary Colors */
    --amazon-orange: #FF9900;
    --amazon-dark: #131921;
    --amazon-navy: #232F3E;

    /* Amazon Secondary Colors */
    --amazon-light-gray: #EAEDED;
    --amazon-gray: #DDD;
    --amazon-text-dark: #0F1111;
    --amazon-text-light: #FFFFFF;

    /* Amazon Button Colors */
    --amazon-btn-yellow: #FFD814;
    --amazon-btn-yellow-hover: #F7CA00;

    /* Amazon Border & Shadow */
    --amazon-border: #D5D9D9;
    --amazon-shadow: rgba(0, 0, 0, 0.15);
}

/* navbar  */

.navbar {
    background-color: var(--amazon-dark);
    height: 60px;
}

.navbar>img {
    width: 125px;
}

.navbar>img:hover {
    border: 1px solid white;
    border-radius: 5px;
}

.Deliver-location{
    background-color: #D5D9D9;
}